---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Contato"
  seoTitle="Contato"
  seoDescription="Entre em contato com a equipe do Gacha Plus. Envie suas perguntas, sugestoes ou comentarios sobre o mod de Gacha Club."
  lang="pt"
  canonicalUrl="https://gacha.plus/pt/contato/"
  hreflangLinks={[
  { lang: "en", href: "https://gacha.plus/contact/" },
  { lang: "es", href: "https://gacha.plus/es/contacto/" },
  { lang: "fr", href: "https://gacha.plus/fr/contactez/" },
  { lang: "de", href: "https://gacha.plus/de/kontakt/" },
  { lang: "it", href: "https://gacha.plus/it/contatto/" },
  { lang: "pt", href: "https://gacha.plus/pt/contato/" }
  ]}
>
  <h1>Contato</h1>
  <Fragment set:html=`<form class="contact-form" action="https://formsubmit.co/admin@gacha.plus" method="POST">
  <label for="name">Nome</label>
  <input type="text" id="name" name="name" required />
  <label for="email">E-mail</label>
  <input type="email" id="email" name="email" required />
  <label for="website">Website</label>
  <input type="url" id="website" name="website" />
  <label for="message">Mensagem</label>
  <textarea id="message" name="message"></textarea>
  <button type="submit">Enviar</button>
</form>` />
</BaseLayout>
